.ui-container {
    background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;

}