.Pokedex {
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);

    height: 100%;
    
    width: fit-content;
    
    display: flex;
    flex: 100%;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;

.Pokedex__Container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 3;

    justify-content: center;
}

}

@media (max-width: 425px) {
    .Pokedex {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .Header {
        display: flex;
        flex-direction: row;
    }

    .Header button {
        margin: 10px 5px 10px 5px;
        width: auto;
        height: auto;
        border: 5px solid black;
        border-radius: 5px;
        background: linear-gradient(0deg, #ebebeb 50%, #df3030 50%);
        font-size: 22px;
        font-weight: 1000;
        font-family: monospace;
        text-align: center;
    }
}