.form-page{
    background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    
    display: flex;
    flex: 100%;
    flex-direction: column;

    height: 100%;
    width: 100%;

    align-items: center;
}

.pokemon-form__index {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.pokemon-form__index label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(56, 56, 56);
}

.pokemon-form__index input {
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: aliceblue;
    height: 36px;
}

.menu {
    width: 90%;
    height: 1000px;
    margin: 10px;
}
