.pokemon-card {
    width: 400px;
	border-radius: 20px;
    border: 10px inset #000000;
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    flex-wrap: nowrap;

    > img {
        margin-top: 20px;
        height: 250px;
        width: 300px;
        background-color: rgba(255, 255, 255, 0.198);
	    border-radius: 40%;
	    text-align: center;
    }

    .title {
        font-size: 50px;
        font-weight: 700;
    }

    .types {
        padding: 10px;
        font-size: 15px;
        font-weight: 700;
    }
    
    .id {
        padding-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }

}